@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic,latin);
body {
 	background-image: url(http://alternathistory.com/files/users/user9407/nz6.jpg);
  	background-size: cover;
  	background-position: center center;
}
#p1 .s { 
	border:1px solid rgb(0, 0, 238);
	background: red;
}
#p2 .s, .w { 
	background-image: url(../image/Table.png);
	background-position: 50% 50%;
	background-size: 100% 100%; 
}
.d { 
	background-image: url(../image/dr.png);
	background-position: cover;
	background-size: cover;
	border:1px solid #ca3c41;			
}
.m { 
	background-image: url(../image/Miss.png);
	background-position: cover;
	background-size: 100% 100%;
	border:1px solid #3704e8;
}
#p1 div, #p2 div { 
	width: 30px; height: 30px; float: left; 
}
#p1, #p2 { 
	width: 300px; height: 300px; float: left; margin-left: 30px; margin-top: 50px;
	box-shadow: 3px 7px 6px 3px rgba(0,0,0,0.75);
}
#p1 {
	margin-left: 30px;
}
.img {
	background-image: url(http://yachtrus.com/wp-content/gallery/discover/dynamic/vasco-da-gama-travel-31-nggid03970-ngg0dyn-730x730x100-00f0w010c010r110f110r010t010.png);
	background-position: 50% 50%;
	background-size: 100% 100%; 
	width: 500px;
	height: 280px;
	clear: both;	
}
h1{
text-align: center;
  color: #222;
  font-size: 2.5em;
  font-family: 'Bad Script', cursive;
  line-height: 2.1;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#wrapper{
	width:720px;
	height:300px;
}
p {
	font-family: 'Bad Script', cursive;
	color: #222;
	font-size: 2em;
	margin-left: 20px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	
}
b {
	font-family: 'Bad Script', cursive;
	color: #222;
	font-size: 2em;
	margin-left: 20px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.ABCp1 {
	position: absolute;
	padding: 20px;
	width: 350px;
	padding-bottom: 0px;
}
.ABCp1 span {
	font-family: 'Bad Script', cursive;
	font-size: 1.4em;
	font-weight: bold;
	color: rgb(0, 0, 238);
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.ABCp1 span:first-child {
	    margin-left: 20px;
}
.ABCp1 span:last-child {
	margin-left: 20px;
}
.ABCp1 span:nth-child(2) , .ABCp1 span:nth-child(3) , .ABCp1 span:nth-child(4), .ABCp1 span:nth-child(5), .ABCp1 span:nth-child(6),
.ABCp1 span:nth-child(7), .ABCp1 span:nth-child(8) {
	margin-left:14px;
}
.ABCp1 span:nth-child(9) {
	margin-left: 16px;
}
.ABCp2 {
	position: absolute;
	padding: 20px;
	left: 331px;
	width: 350px;
	padding-bottom: 0px;
}
.ABCp2 span {
	font-family: 'Bad Script', cursive;
	font-size: 1.4em;
	font-weight: bold;
	color: rgb(0, 0, 238);
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.ABCp2 span:first-child {
	    margin-left: 20px;
}
.ABCp2 span:last-child {
	margin-left: 20px;
}
.ABCp2 span:nth-child(2) , .ABCp2 span:nth-child(3) , .ABCp2 span:nth-child(4), .ABCp2 span:nth-child(5), .ABCp2 span:nth-child(6),
.ABCp2 span:nth-child(7), .ABCp2 span:nth-child(8) {
	margin-left:14px;
}
.ABCp2 span:nth-child(9) {
	margin-left: 16px;
}
.TableP1 {
	position: absolute;
	left: 10px;
	top:298px;
}
.TableP1 td {
	padding-bottom: 10px;
	color: rgb(0, 0, 238);
}
.TableP2 {
	position: absolute;
	left: 342px;
	top:298px;
}
.TableP2 td {
	padding-bottom: 10px;
	color: rgb(0, 0, 238);
}
#start {
	margin-left: 50px;
	margin-top: 150px;
	background: #fff;
	color: rgb(0, 0, 238);
	border: 1px solid rgb(0, 0, 238);
	width: 50px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Bad Script', cursive;
	font-size: 20px;
	font-weight: bold;
	outline:none;

}
#restart {
	background: #fff;
	color: rgb(0, 0, 238);
	border: 1px solid rgb(0, 0, 238);
	width: 70px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Bad Script', cursive;
	font-size: 20px;
	font-weight: bold;
	outline:none;
}